:root{
  --primary: #b6895b;
  --bg: #010101;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: white;
  /* min-height: 2000px; */
}

.container {
  box-sizing: border-box;
  width: 100%;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-style: italic;
}

.navbar .navbar-nav ul{
  display: flex;
  list-style: none;
}
.navbar .navbar-logo span{
  color: var(--primary);
}

.navbar .navbar-nav a{
  color: white;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
  text-decoration: none;
}

.navbar .navbar-nav a:hover{
  color: var(--primary);
}

.navbar .navbar-nav a::after{
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transition: .2s linear;
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after{
  transform: scaleX(0.5);
}

.navbar .navbar-extra a{
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover{
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}
/* navbar end */


/* Home */
.home {
  display: flex;
  /* jika center vertikal pake align, jika horizontal pake justify-content */
  align-items: center;
  background-image: url(/assets/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  /* biar posisi nya tetap */
  position: relative;
  background-position: center;
}

/* gradasi section home */
.home::after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg,rgba(1,1,3,1) 8%, rgba(255, 255,255, 0) 50%);
}

.home .col{
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.home .heading{
  line-height: 6rem;
  font-size: 5rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.home .subheading{
  font-size: 1.6rem;
  font-weight: 100;
  margin-top: 1rem;
  line-height: 1.6rem;
  /* jadi ketika warna sama dia contras */
  mix-blend-mode: difference;
}

.home .heading span{
  color: var(--primary);
}

.home .btn-home a{
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 12px;
  /* font-size: 1.5rem; */
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.home .btn-home{
  margin-top: 2rem;
}
/* home end */


/* about */
.about {
  padding: 8rem 7% 1.4rem;
}

.about .row{
  display: flex;
}

.about .row .about-image{
  flex: 1 1 45rem;
}

.about .row .about-image img{
  width: 100%;
  border: 2px solid white;
}

.about .row .about-text h3{
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.about .row .about-text p{
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  font-weight: 100;
  line-height: 1.6;
}
.about h2{
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
.about .row .about-text{
  flex: 1 1 35rem;
  padding: 0 1rem;
}
.about .heading span {
  color: var(--primary);
}
/* about end */


/* menu start */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.menu .heading {
  font-size: 2.6rem;
}

.menu .heading span{
  color: var(--primary);
}
/* menu end */

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html{
    font-size: 75%;
  }
}


/* Tablet */
@media (max-width:768px) {
  html {
   font-size: 62.5%;
  }
  
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav{
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: .3s;
  }

  .navbar .navbar-nav ul{
    display: flex;
    flex-direction: column;
  }

  .navbar .navbar-nav.active{
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after{
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after{
    transform: scaleX(0.2);
  }

  /* new code test */
  .about .row {
    display: flex;
    flex-direction: column;
  }
  .about .row .about-text{
    margin-top: -15rem;
  }
  .menu {
    margin-top: -10rem;
  }

}


/* Mobile */
@media (max-width:450px){
  html {
    font-size: 55%;
  }
}
